# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
/.idea/.gitignore
/.idea/libraries/Dart_SDK.xml
/.idea/modules.xml
/.idea/test_built_value.iml
/.idea/vcs.xml
/.idea/libraries/Dart_Packages.xml
